<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Users</title>
</head>
<body>
<!--<div class="container">-->
    <div class="row" style="background-color: #343A40; height: 5vh">
        <div class="col" style="color: white">
            <em style="white-space: pre"> </em>
            <b id="owner-username">  </b> with roles:
            <b id="owner-roles"></b>
            <a href="/logout" style="color: gray; float: right; margin-right: 5px">Logout</a>
        </div>
    </div>
    <div class="row" style="height: 95vh">
        <div class="col" style="background-color: white">
            <div class="nav flex-column nav-pills" id="navTabs">
                    <button class="nav-link active" data-bs-toggle="tab" id="admin_tab" style="width: 100%; border: none">Admin</button>
                    <button class="nav-link" data-bs-toggle="tab" id="user_tab" style="border: none">User</button>
            </div>
        </div>
        <div class="col-10" style="background-color: #F8F9FA">
            <div class="tab-content mt-2">
                <div class="tab-pane fade show active" id="admin">
                    <h2>Admin panel</h2>
                    <div class="container mt-5">

                        <ul class="nav nav-tabs" id="myTabs">
                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" id="tab_users">Users table</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" id="tab_info">New user</button>
                            </li>
                        </ul>
                        <div class="tab-content mt-2">
                            <div class="tab-pane fade show active" id="tab1">
                                <h5>All users</h5>
                                <table class="table table-light" border="solid 4mm ">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Password</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody class="users-table">
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <h2>Add new user</h2>
                                <form id="form-new-user" style="margin-left: 250px; margin-right: 250px; text-align: center">
                                    <label for="editUsername1" style="font-weight: bold">Username</label>
                                    <input type="text" class="form-control" id="editUsername1" name="editUsername1">
                                    <label for="editPassword1"  style="font-weight: bold">Password</label>
                                    <input type="text" class="form-control" id="editPassword1" name="editPassword1">
                                    <label for="editName1"  style="font-weight: bold">Name</label>
                                    <input type="text" class="form-control" id="editName1" name="editName1">
                                    <label for="editAge1"  style="font-weight: bold">Age</label>
                                    <input type="number" class="form-control" id="editAge1" name="editAge1">
                                    <label for="editEmail1"  style="font-weight: bold">Email</label>
                                    <input type="email" class="form-control" id="editEmail1" name="editEmail1">
                                    <label style="font-weight: bold">Roles: </label>
                                    <select multiple class="form-control" id="EditRoleSelect1" name="EditRoleSelect1" size="2">
                                        <option value="2">Admin</option>
                                        <option value="1">User</option>
                                    </select>
                                    <p></p>
                                    <button id="addNewUser" type="button" class="btn btn-primary" style="background-color: #218838">Add new user</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="user">
                    <h2>User information-page</h2>
                    <div class="tab-pane fade show active" id="tab5">
                        <h5>About user</h5>
                        <table class="table table-light" border="solid 4mm ">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Password</th>
                                <th scope="col">Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody class="info_table">
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
<div>
    <div class="modal fade" th:id="modality">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit User</h4>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="editInfo">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                                    crossorigin="anonymous"></script>
                            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                                    crossorigin="anonymous"></script>
                            <script src="/users.js"></script>
</body>
</html>