<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Users</title>
</head>
<body>
<!--<div class="container">-->
<div class="row" style="background-color: #343A40; height: 5vh">
    <div class="col" style="color: white">
        <em style="white-space: pre"> </em>
        <b id="owner-username">  </b> with roles:
        <b id="owner-role"></b>
        <a href="/logout" style="color: gray; float: right; margin-right: 5px">Logout</a>
    </div>
</div>
<div class="row" style="height: 95vh">
    <div class="col" style="background-color: white">
        <div class="nav flex-column nav-pills" id="navTabs">
            <a class="nav-link" data-bs-toggle="tab" href="#user">User</a>
        </div>
    </div>
    <div class="col-10" style="background-color: #F8F9FA">
        <div class="tab-content mt-2">
            <div class="tab-pane fade show active" id="user">
                <h2>User information-page</h2>
                <div class="tab-pane fade show active" id="tab5">
                    <h5>About user</h5>
                    <table class="table table-light" border="solid 4mm ">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody id = "table-user">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="/user.js"></script>
</body>
</html>